openapi: 3.2.0
info:
  title: Trakstar Learn Auth API
  description: The Trakstar Learn REST API (based on the Mindflash platform) allows developers to manage user accounts, group assignments, course and module enrollments, user status, and reporting programmatically. The API supports pagination and filtering. API keys are provisioned by the Trakstar Learn support team upon request. The API enforces a rate limit of 10 requests per 10 seconds per API key.
  version: '3'
  contact:
    name: Trakstar Learn Support
    email: learn@trakstar.com
  license:
    name: Proprietary
servers:
- url: https://api.mindflash.com/api/v3
  description: Trakstar Learn (Mindflash) API v3
security:
- apiKey: []
tags:
- name: Auth
  description: Authentication and SSO operations
paths:
  /auth:
    get:
      operationId: authorizeUser
      summary: Authorize User (SSO)
      description: Generates a pre-formed SSO login URL for a user to authenticate into the Trakstar Learn application. Useful for single sign-on integrations and for checking if a user exists by email or username.
      tags:
      - Auth
      parameters:
      - name: id
        in: query
        description: The Mindflash ID of the user to log in.
        required: false
        schema:
          type: integer
          format: int64
      - name: username
        in: query
        description: The Mindflash username of the user.
        required: false
        schema:
          type: string
      - name: email
        in: query
        description: The email address of the user.
        required: false
        schema:
          type: string
          format: email
      responses:
        '200':
          description: SSO authentication details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                userId: 9999
                userDisplayName: Joe Black
                userEmail: joe.black@yourorganization.com
                dashboardUrl: http://yourorg.mindflash.com/CreateCookie.aspx?sessionID2=AcAVGBh34343SD
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    NotFound:
      description: The requested resource could not be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials were not provided or are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded. The API enforces a limit of 10 requests per 10 seconds per API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        errors:
          type: array
          items:
            type: string
    AuthResponse:
      type: object
      description: SSO authentication response.
      properties:
        userId:
          type: integer
          format: int64
          description: Mindflash user ID.
        userDisplayName:
          type: string
          description: Display name of the user.
        userEmail:
          type: string
          format: email
          description: Email address of the user.
        dashboardUrl:
          type: string
          format: uri
          description: Pre-authenticated URL to log the user into Trakstar Learn.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-mindflash-apikey
      description: API key provisioned by Trakstar Learn support team. Contact learn@trakstar.com to request access.
externalDocs:
  description: Trakstar Learn API Documentation
  url: https://support.learn.trakstar.com/article/815-workflow-api-documentation
